<header>
  <nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/meal-map">Карта блюд</a></li>
      <li><a href="/meal">Блюдо</a></li>
      <li><a href="/add-new-meal">Добавить блюдо</a></li>
      <li class="login-profile-photo-container"><a href="/profile"><img src="{{user.image}}" alt="Фото профиля" class="login-profile-photo"></a></li>
    </ul>
  </nav>
</header>