<header>
  <nav>
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/dishes">Блюда</a></li>
      <li><a href="/users">Пользователи</a></li>
      <li><a href="/categories">Категории</a></li>
      <li><a href="/ingredients">Ингредиенты</a></li>
      <li><a href="/recipes">Рецепты</a></li>
      <li class="login-profile-photo-container"><a href="/users/1"><img src="{{user.image}}" alt="Фото профиля" class="login-profile-photo"></a></li>
    </ul>
  </nav>
</header>