.meal-photo-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meal-main {
    display: flex;
}

.meal-detail {
    margin-top: 50px;
    gap: 20px;
    width: 50%;
}

.meal-photo {
    width: 50%;
    height: auto;
    border-radius: 10px;
}