/* Глобальный сброс */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Контейнер страницы */
body {
    display: flex;
    font-family: Tahoma, sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    height: 10vh;
    flex-shrink: 0;
    background-color: #008800;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -20px;
}

/* Навигация */
nav {
    width: 100%;
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

nav ul li,
nav ul li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: yellowgreen;
}

.login-profile-photo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Main */
main {
    min-height: 80vh;
    background-color: #AACCAA;
    justify-content: center;
    align-items: center;
    flex: 1; /* Гибкий рост */
    /* Костыль: убрать возможный гап снизу */
    margin-bottom: -19px;
}

/* Footer */
footer {
    height: 10vh;
    flex-shrink: 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Обнуление h1 */
h1 {
    margin: 0;
    padding: 0;
}